.tieude
{
    width: 40px;
    margin: auto;
    color: rgb(202, 22, 22);
    background-color: rgb(38, 38, 194);
}
.bia
{
    width: 1000px;
    max-height: 20px;
    margin: auto;
}
img{
    width: 100%;
}